{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand">Biblioteka</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Strona Główna</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin') }}">Panel Administratora</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('books') }}">Dostępne Książki</a>
                    </li>
                    {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('profile') }}">Twoje Książki</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Wyloguj</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Zaloguj</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% for message in app.flashes('msg') %}
            <div class="alert alert-danger mt-5">
                {{ message }}
            </div>
        {% endfor %}
        <h3 class="mt-5 mb-5">Lista książek</h3>
        <h3>{{ asd }}</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Tytuł</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Zwróć książkę</th>
            </tr>
            </thead>
            <tbody>
            {% for data in list %}
                <tr>
                    <th scope="row">{{ data.bname }}</th>
                    <td></td>
                    <td></td>
                    <<td style="width: 10%"><a class="btn btn-outline-danger" href="{{ path('delr',{'id':data.id}) }}">Zwrot</a> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
