{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Biblioteka</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Strona Główna</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">Panel Administratora</a>
                        </li>
                    {% elseif is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link active" href="/profile">Twoje Książki</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Zaloguj</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Wyloguj</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {{ asd }}
    <div class="container">
        {% for message in app.flashes('msg') %}
            <div class="alert alert-danger mt-5">
                {{ message }}
            </div>
        {% endfor %}
        <h3 class="mt-5 mb-5">Lista książek</h3>
        <a class="btn btn-info text-black-50 mb-2" href="{{ path('main') }}">Dodaj wypożyczenie</a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Tytuł</th>
                <th scope="col">Autor</th>
                <th scope="col">Zwróć książkę</th>
            </tr>
            </thead>
            <tbody>
            {% for data in list %}
                <tr>
                    <th scope="row"></th>
                    <td>{{ data.bname }}</td>
                    <td>{{ data.uemail }}</td>
                    <td style="width: 20%"><a class="btn btn-outline-info" href=""></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
