{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand">Biblioteka</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Strona Główna</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin') }}">Panel Administratora</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('books') }}">Dostępne Książki</a>
                    </li>
                    {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('profile') }}">Twoje Książki</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Wyloguj</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Zaloguj</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <h3 class="mt-5 mb-5">Dodaj/Edytuj książkę</h3>
            {% for message in app.flashes('msg') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="col-md-6 offset-md-3">
                {{ form_start(form) }}
                <div class="form-group">
                    <label>Nazwa książki</label>
                    {{ form_widget(form.bname,{'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    <label>Użytkownik</label>
                    <input type="email" value="{{ user }}" disabled class="form-control" />
                    <span style="display: none">
                    {{ form_widget(form.uemail,{'attr':{'class':'form-control'}}) }}
                        </span>
                </div>
                <div class="form-group">
                    <label>Data</label>
                    {{ form_widget(form.taken,{'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group" style="display: none">
                    <label>Rezerwacja</label>

                </div>
                <div class="form-group">
                    <button class="btn btn-info mt-2 text-black-50">Potwierdź</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
