{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Biblioteka</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('main') }}">Strona Główna</a>
                    </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('admin') }}">Panel Administratora</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('profile') }}">Twoje Książki</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('booklist') }}">Lista Książek</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('addbook') }}">Dodaj Książkę</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Wyloguj</a>
                        </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endif %}
{% endblock %}
