{% extends 'base.html.twig' %}

{% block title %}Dodawanie Książki{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Biblioteka</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('main') }}">Strona Główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('admin') }}">Panel Administratora</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('reservations') }}">Lista Wypożyczonych</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('booklist') }}">Lista Książek</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Wyloguj</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<div class="container">
    {% for message in app.flashes('msg') %}
        <div class="alert alert-danger mt-5">
            {{ message }}
        </div>
    {% endfor %}
    <h3 class="mt-5 mb-5">Lista książek</h3>
    <a class="btn btn-info text-black-50 mb-2" href="{{ path('addres') }}">Dodaj wypożyczenie</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Tytuł</th>
            <th scope="col">Autor</th>
            <th scope="col">Zwróć książkę</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for data in list %}
        <tr>
            <th scope="row"></th>
            <td>{{ data.bname }}</td>
            <td>{{ data.uemail }}</td>
            <td style="width: 20%"><a class="btn btn-outline-info" href=""></a></td>
            <td style="width: 10%"><a class="btn btn-outline-warning" href="{{ path('updateres',{'id':data.id}) }}">Edytuj</a> </td>
            <td style="width: 10%"><a class="btn btn-outline-danger" href="{{ path('deleteres',{'id':data.id}) }}">Usuń</a> </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
